My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fc16b924-2584-4c8b-9e2b-0e65ac2385b7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04f3e2d8-888b-442d-8af6-1f7b153dbbb3",
              "name": "Review",
              "value": "It is nice. I gifted the phone to my wife. Earlier she was using the same brand of handset. She wanted to upgrade in the same brand because of it’s camera quality, it’s speed and use of handset is outstanding. Heating is quite normal in phones. When it’s getting charge. Connectivity in terms of great earlier it was 4 g handset now it’s 5 g so i can feel the difference.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d2afd7ba-a529-4b6c-b31a-2b989f1b9bd0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/cardiffnlp/twitter-roberta-base-sentiment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "=Best best best product!!! Must buy!!!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "6571c68c-06d0-4312-a2dd-72c262573d4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const result = $json[0];\n\nconst sentiment = result.label;\nconst confidence = result.score * 100; // convert to %\n\nlet status = \"\";\nlet emailType = \"\";\n\n// MAIN RULE (your requirement)\nif (confidence >= 95) {\n  status = \"GENUINE REVIEW ✅\";\n  emailType = \"GENUINE\";\n} else {\n  status = \"FAKE / SUSPICIOUS REVIEW ⚠️\";\n  emailType = \"FAKE\";\n}\n\nreturn [\n  {\n    json: {\n      review: $input.all()[0].json.review,\n      sentiment,\n      confidence,\n      status,\n      emailType\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "eb1b1173-f617-4eab-a9d3-a32e4ec917fe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "sce23am036@sairamtap.edu.in",
        "subject": "High Complaint Risk Detected ",
        "message": "=Review Analysis Alert:  Sentiment: {{$json[\"sentiment\"]}} Confidence: {{$json[\"confidence\"]}}  Complaint Risk: {{$json[\"complaintRisk\"]}} Fake Review Risk: {{$json[\"fakeRisk\"]}}  Action Required: Immediate attention needed for customer response.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "6d43b6ce-0a4a-4cad-9f04-b915faadfd95",
      "name": "Send a message",
      "webhookId": "773d4279-2d0e-4a4d-92e4-86b5a2b88abf",
      "credentials": {
        "gmailOAuth2": {
          "id": "0aqwe5zGLqASlN3h",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edf6004f-8aac-4d7c-86f4-26b9ee334208",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "58db655d-ad4f-4272-b588-33c56522b61c",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b996225-f685-47ba-a0e3-3282bb084c01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb9f85b6844e635bd67779faa37d75c2f9bd5c37ec56c53db48061b1caad6664"
  },
  "id": "Np6imHmSFYwekTJ3",
  "tags": []
}